input,
textarea {
  border-radius:3px;
  padding:10px 20px;
  width: 100%;
  border:1px solid #ccc;
  box-shadow: inset 0 1px 3px #f3f3f3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 20px !important;
  overflow: hidden;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

textarea {
  min-height: 175px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}

input.error-input{
    background-color: red;
    color:#ffffff;

}

input.error-input::-webkit-input-placeholder { /* WebKit browsers */
    color:#ffffff;
}
input.error-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ffffff;
}
input.error-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ffffff;
}
input.error-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ffffff;
}




input:hover ,
textarea:hover {
   box-shadow: inset 0 1px 3px #7AA7F5;
}

input:focus ,
textarea:focus {
  border:1px solid #7AA7F5;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}