body a {
	color:#24AAE9;
}

#header nav a.link-active,
.highlight,
.ts-team .profile .members-caption,
#header.horizontal #nav a.link-active, 
#header.horizontal #nav a:hover {
	color: #24AAE9;
}


.ts-section .box a.box-icon,
.btn-first,
.ts-services .padder .big-icon,
.ts-team .profile:hover .profile-info,
.ts-portfolio header .sub-menu span.active, 
.ts-portfolio header .sub-menu span:hover,
.ts-news .box .date,
.ts-price-plan .plan.best .title,
.media-container #slider-container .play,
#header.horizontal .logo,
#header.horizontal .small-nav {
	background:  #24AAE9;
}

.ts-services .padder .big-icon:before {
	border-top-color:#24AAE9;
}

.ts-timeline .timeline-list .list > li i {
	background:  #24AAE9;
}

.ts-portfolio #portfolio-grid .item:hover .layer {
	box-shadow: inset 0 0 100px 150px rgba(36, 170, 233, 0.9);
}

.btn-first:hover {
	background: #24AAE9;
}